@model SignalRWebUI.Dtos.SliderDto.CreateSliderDto

@{
    Layout = "~/Views/AdminLayout/index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan Alan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Öne Çıkan Alan Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Tıtle1">Başlık 1</label>
                                <input type="text" class="form-control" asp-for="Tıtle1" id="Tıtle1">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Tıtle2">Başlık 2</label>
                                <input type="text" class="form-control" asp-for="Tıtle2" id="Tıtle2">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Tıtle3">Başlık 3</label>
                                <input type="text" class="form-control" asp-for="Tıtle3" id="Tıtle3">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description1">Açıklama 1</label>
                                <input type="text" class="form-control" asp-for="Description1" id="Description1">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description2">Açıklama 2</label>
                                <input type="text" class="form-control" asp-for="Description2" id="Description2">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description3">Açıklama 3</label>
                                <input type="text" class="form-control" asp-for="Description3" id="Description3">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Öne Çıkan Alan Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>